* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM INPUT */
textarea, input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

textarea::placeholder, input[type="text"]::placeholder {
  color: #999;
}

textarea:focus, input[type="text"]:focus {
  border-color: #999;
}

textarea:hover, input[type="text"]:hover {
  border-color: #999;
}

/* MAIN */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0px;
}

@media screen and (max-device-width: 640px) {
  .main {
    padding: 20px 0px;
  }
}

.main-inner {
  flex: 1;
  width: auto;
  max-width: 888px;
  height: 100%;
  margin: 0px 20%;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* For mobile phones Portrait or Landscape view */
@media screen and (max-device-width: 640px) {
  .main-inner {
    margin: 0px 12px;
  }
}

.main-inner h1 {
  font-size: 24px;
}

.task-list {
  flex: 1;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* NEW TASK */
.new-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: auto;
}

.new-task-input {
  flex: 1;
}

.new-task-button {
  margin-left: 8px;
}

/* TASK */
.task {
  padding: 10px;
  margin: 10px 0px;
  width: auto;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-checkbox {
}

.task-data {
  font-size: 15pt;
  margin-left: 20px;
  margin-right: 10px;
}

.task-text {
  text-align: left;
  text-wrap: wrap;
  word-break: break-word;
  white-space: normal;
}

.edit-input {
  resize: vertical; /* Only resize vertically */
  min-height: max-content;
  width: 100%; 
  list-style: 24px;
}

.task.done {
  text-decoration: line-through;
  background-color: #d3d3d3;
  opacity: .2;
}

.task:hover {
  background-color: #e0e0e0;
}